tickTime=2000
initLimit=10
syncLimit=5
dataDir={{ ZK_DATA_DIR }}
dataLogDir={{ ZK_LOGS_DIR }}
clientPort=2181
server.1={{ zk_server1_hostname }}:2888:3888
server.2={{ zk_server2_hostname }}:2888:3888
server.3={{ zk_server3_hostname }}:2888:3888

